<div class="footer">
    <tr>
        <td align="center" style="padding: 0; margin: 0;">
            <table class="es-footer-body" cellspacing="0" cellpadding="0" align="center" role="presentation" style="background-color: #021124; width: 600px;">
                <tbody>
                <tr>
                    <td align="center" style="padding: 10px 0; margin: 0;">
                        <table class="es-header-body" cellspacing="0" cellpadding="0" align="center" style="background-color: #021124; width: 600px;" bgcolor="#021124" role="presentation">
                            <tbody>
                            <tr>
                                <td align="left" style="padding:0; margin: 0;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding: 0 40px 0 0;" class="es-m-p20r es-m-p0l es-m-p20b">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                <tr>
                                                                    <td class="m-block" align="center" valign="middle" style="padding:0;">
                                                                        <a href="{{$domain}}" target="_blank">
                                                                            <img class="adapt-img" src="https://braze-images.com/appboy/communication/assets/image_assets/images/67990a50c99e7400756055b8/original.png?1738082896" style="border: 0; height: auto;" width="220" alt="Logo GOTICKETS">
                                                                        </a>
                                                                    </td>
    
                                                                    <td class="m-block socials" align="right" valign="middle" style="padding: 5px 0;">
                                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                            <tr>
                                                                                <td style="padding: 0;" valign="middle" class="es-m-p30l">
                                                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                                        <tr>
                                                                                            <td style="padding-right: 5px;" class="es-m-p0r">
                                                                                               <a href="https://www.facebook.com/gotickets" target="_blank" style="display: inline-block;" rel="noopener"> <img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-default-gray/facebook@2x.png" alt="Facebook" title="Facebook" width="27" height="auto"> </a>
                                                                                            </td>
                                                                                            <td style="padding-right: 5px;" class="es-m-p0r">
                                                                                                <a href="https://twitter.com/GoTickets" target="_blank" style="display: inline-block;" rel="noopener"><img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-default-gray/twitter@2x.png" alt="X" title="X"  width="27" height="auto"> </a>
                                                                                            </td>
                                                                                            <td style="padding-right: 5px;" class="es-m-p0r">
                                                                                                <a href="https://www.instagram.com/gotickets_com" target="_blank" style="display: inline-block;" rel="noopener"> <img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-default-gray/instagram@2x.png" alt="Instagram" title="Instagram" width="27" height="auto"> </a>
                                                                                            </td>
                                                                                            <td style="padding-right: 0;" class="es-m-p0r">
                                                                                                <a href="https://www.tiktok.com/@gotickets" target="_blank" style="display: inline-block;" rel="noopener"> <img src="https://app-rsrc.getbee.io/public/resources/social-networks-icon-sets/t-outline-circle-default-gray/tiktok@2x.png" alt="Tiktok" title="TikTok" width="27" height="auto"> </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0; margin: 0;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding: 0 30px;">
                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td style="padding: 15px 0; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; line-height: 1px; font-size: 1px;" >
                                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                                <tr>
                                                                    <td class="m-block" align="left" valign="middle" style="padding: 5px 0; ">
                                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                            <tr>
                                                                                <td style="padding: 0;" valign="middle">
                                                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                                        <tr>
                                                                                            <td style="padding-right: 11px;" class="es-m-p3r">
                                                                                                <a href="https://support.gotickets.com/support/home" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 12px; line-height: 15px; text-align: center; text-decoration: none;" rel="noopener">Help</a>
                                                                                            </td>
                                                                                            <td style="padding-right: 11px;" class="es-m-p3r">
                                                                                                <a href="https://gotickets.com/contact" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 12px; line-height: 15px; text-align: center; text-decoration: none" rel="noopener">Contact Us</a>
                                                                                            </td>
                                                                                            <td style="padding-right: 11px;" class="es-m-p3r">
                                                                                                <a href="https://gotickets.com/privacy-policy" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 12px; line-height: 15px; text-align: center; text-decoration: none" rel="noopener">Privacy Policy</a>
                                                                                            </td>
                                                                                            <td style="padding-left: 11px" class="es-m-p3l">
                                                                                                <a href="https://gotickets.com/terms-of-use" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 12px; line-height: 15px; text-align: center; text-decoration: none" rel="noopener">Email Preferences</a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </table>
                                                                                </td>
                                                                            </tr>
                                                                            </table>
                                                                    </td>
                                                                </tr>
                                                                </table>
                                                        </td>
                                                    </tr>
                                                    </table>
                                            </td>
                                        </tr>
                                        </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="padding:0; margin: 0;">
                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td style="padding: 0 30px;">
                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tr>
                                                        <td class="m-block" align="left" valign="middle" style="padding: 5px 0; ">
                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                <tr>
                                                                    <td style="padding: 0;" valign="middle">
                                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                            <tr>
                                                                                <p>${LEGALS_FOOTER}</p>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</div>
