<div class="header" align="center">
  <tr>
      <td align="center" style="padding: 0; margin: 0;">
        <table class="es-header-body" cellspacing="0" cellpadding="0" align="center" role="presentation" style="background-color: #021124; width: 600px;">
            <tbody>
              <!--------- TWO COLUMN HEADER START --------->
              <tr>
                  <td align="center" style="padding: 0; margin: 0;">
                    <table class="es-header-body" cellspacing="0" cellpadding="0" align="center" style="background-color: #021124; width: 600px;" bgcolor="#021124" role="presentation">
                        <tbody>
                          <tr>
                              <td align="left" style="padding:0; margin: 0;">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tr>
                                          <td style="padding: 0;" class="es-m-p20r es-m-p0l es-m-p10b">
                                                <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                  <tr>
                                                      <td>
                                                            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                                              <tr>
                                                                  <td class="m-block" align="center" valign="middle" style="padding:0; text-align: left;">
                                                                    
                                                                        <a href="{{$domain}}" target="_blank">
                                                                          <img class="adapt-img" src="https://braze-images.com/appboy/communication/assets/image_assets/images/67990a50c99e7400756055b8/original.png?1738082896" style="border: 0; height: auto;" width="220" alt="Logo GOTICKETS">
                                                                        </a>
                                                                  </td>
  
                                                                  <td class="m-block socials" align="right" valign="middle" style="padding: 5px 0;">
                                                                        <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                          <tr>
                                                                              <td style="padding: 0;" valign="middle" class="es-m-p30l">
                                                                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0">
                                                                                      <tr>
                                                                                          <td style="padding-right: 11px;" class="es-m-p0r">
                                                                                            <a href="https://gotickets.com/sports" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 13px; line-height: 15px; text-align: center; text-decoration: none" rel="noopener">Sports</a>
                                                                                          </td>
                                                                                          <td style="padding-right: 11px;" class="es-m-p0r">
                                                                                            <a href="https://gotickets.com/concerts" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 13px; line-height: 15px; text-align: center; text-decoration: none" rel="noopener">Concerts</a>
                                                                                          </td>
                                                                                          <td style="padding-right: 31px;" class="es-m-p10r">
                                                                                            <a href="https://gotickets.com/theater" target="_blank" style="color: #ffffff; font-family: Plus Jakarta Sans, Lato, Helvetica, sans-serif;font-size: 13px; line-height: 15px; text-align: center; text-decoration: none" rel="noopener">Theater</a>
                                                                                          </td>
                                                                                      </tr>
                                                                                    </table>
                                                                              </td>
                                                                          </tr>
                                                                        </table>
                                                                  </td>
                                                              </tr>
                                                            </table>
                                                      </td>
                                                  </tr>
                                                </table>
                                          </td>
                                      </tr>
                                    </table>
                              </td>
                          </tr>
                        </tbody>
                    </table>
                  </td>
              </tr>
            </tbody>
        </table>
      </td>
  </tr>
</div>
