{% extends "layout.njk" %}

{% block content %} 

<div class="content-container">
   {% include "../templates/partials/hero.njk" %} 
   {% include "../templates/partials/headline.njk" %} 
   {% include "../templates/partials/button.njk" %} 
   {% include "../templates/partials/4-col.njk" %} 
</div>

{% endblock %}